
<div class="fullBox"><div class="center">
    <div class="flexBox">
        <div class="loginText">CREATE AN ACCOUNT</div>
    <div class="loginBox">
        <div class="field controlLog">
            <p class="control has-icons-left has-icons-right">
              <input class="input is-large" type="email" placeholder="Email">
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </p>
          </div><br><br>
          <div class="field controlLog" >
            <p class="control has-icons-left controlLog">
              <input class="input is-large" type="password" placeholder="Password">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
          <div class="text" >
            <div class="textFlexBox">
            <p class="control">
              <button class="button is-primary loginButton">
                Sign up
              </button>
            </p>
          </div><div class="textFlexBox">
          <a routerLink="/login"><p class="has-text-primary">log in</p></a></div>
          </div>
    </div>
    </div>
    </div>
</div>
