@import '../../../main-styles.scss';

.fullBox{
    width: 100%;
    height: 100%;
    background: $darkmagenta;
}
.loginText{
    color: white;
    text-align: center;
    padding-bottom: 20px;
    font-size: 4em;
    font-weight: bold;
    font-family: 'Rubik';
}
.controlLog{
    width: 700px;
}
.flexBox{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.loginBox{
    padding: 80px 100px 30px 130px;
    background: $lightmagenta;
    border-radius: 160px;
}

.loginButton{
    width: 200px;
    height: 70px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: $magenta;
    font-family: 'Rubik';
    font-size: 30px;
}

.textFlexBox{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.text{
    margin-top: 60px;
}
