<div class="center">
    <div class="appBox">
      <div class="logoCont">
        <a routerLink="/"><img class="logo" src="assets/logo.png" alt="logo"/></a></div>
    <div class="buttonClass">
    <button class="button is-primary appButton" routerLink="/lists">TASKS</button>
    <button class="button is-primary appButton" routerLink="/calendar">CALENDAR</button>
    <button class="button is-primary appButton" routerLink="/notes">NOTES</button>
    </div>
    <div class="line"></div>
    <div class="mainCont has-background-light">
    <div class="panel has-background-light">


    <div class="calendarManager" >
        <div class="sidebar has-background-light">
           <div class="titleBox"><h1 class="title has-text-primary">
               TASKS
           </h1></div>
           <div class="listMenu">
               <a class="listMenuItem isActive">
                 <p>Task</p>
               </a>
               <a class="listMenuItem">
                   <p>Task</p>
                 </a>
             </div>
             <button class="button is-primary">+</button>
        </div>
        <div class="calendarCont has-background-dark">
            <div class="arrTitleCont">
              
            <div class="titleCont"><H1 class="title has-text-light calendarTitle">NOVEMBER 2023</H1></div>
         
        </div>
        <div class="calendar">
            <div class="calendarRow">
                <div class="calendarSquareNotActive"></div>
                <div class="calendarSquareNotActive"></div>
                <button class="calendarSquare">1</button>
                <button class="calendarSquare">2</button>
                <button class="calendarSquare">3</button>
                <button class="calendarSquare">4</button>
                <button class="calendarSquare">5</button>
            </div>
            <div class="calendarRow">
                <button class="calendarSquare">6</button>
                <button class="calendarSquare">7</button>
                <button class="calendarSquare">8</button>
                <button class="calendarSquare">9</button>
                <button class="calendarSquare">10</button>
                <button class="calendarSquare">11</button>
                <button class="calendarSquare">12</button>
            </div>
            <div class="calendarRow">
                <button class="calendarSquare">13</button>
                <button class="calendarSquare">14</button>
                <button class="calendarSquare">15</button>
                <button class="calendarSquare">16</button>
                <button class="calendarSquare">17</button>
                <button class="calendarSquare">18</button>
                <button class="calendarSquare">19</button>
            </div>
            <div class="calendarRow">
                <button class="calendarSquare">20</button>
                <button class="calendarSquare">21</button>
                <button class="calendarSquare">22</button>
                <button class="calendarSquare">23</button>
                <button class="calendarSquare">24</button>
                <button class="calendarSquare">25</button>
                <button class="calendarSquare">26</button>
                
            </div>
            <div class="calendarRow">
                <button class="calendarSquare">27</button>
                <button class="calendarSquare">28</button>
                <button class="calendarSquare">29</button>
                <button class="calendarSquare">30</button>
                <div class="calendarSquareNotActive"></div>
                <div class="calendarSquareNotActive"></div>
                <div class="calendarSquareNotActive"></div>
            </div>
        </div>
        </div>
      </div>
   </div>
  

   <div class="panelCollections has-background-light">
    <div class="noteManager">
        
        <div class="notesList has-background-light" >
          <div class="noteTitle">
          <h1 class="title has-text-primary">
               NOTES
           </h1>
           <button class="sectionAdd" >+</button>
           </div>
           <div class="noteMain">
             <div class="notesRow">
                   <div class="noteCollection">
                    <div class="collectionTitle"><div class="collTitleCont">FAVOURITE</div></div>
                   </div>
                   <div class="noteCollection">
                    <div class="collectionTitle"><div class="collTitleCont">SCHOOL</div></div>
                   </div> 
                   <div class="noteCollection">
                    <div class="collectionTitle"><div class="collTitleCont">RECIPES</div></div>
                   </div>
             </div>
            </div>
        </div>
      </div>
   </div>
  
    </div>
        
  </div>  
  <a routerLink="/login"><div class="logout"><p>LOG OUT</p></div></a>
  </div>