@import '../../../main-styles.scss';


.noteTitle{
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left:20px;
    border-bottom: 20px solid $primary;
}
.calendarManager{
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    max-height: 690px;
}
.calendarCont{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: 680px;
    border: 20px solid $primary;
    position: relative;
    box-shadow: 0 0 10px $darkmagenta;
    margin-bottom:50px;
}


.title{
    text-transform: uppercase;
    font-family: 'Rubik';
    font-size: 40px;
    letter-spacing: 4px;
}
.line{
    width:100%;
    height:10px;
    background-color: $light;
}
.sectionAdd{
    position: absolute;
    right: 30px;
    background-color: $lightmagenta;
    font-size: 30px;
    top:25px;
    width:50px;
    height:50px;
    border:none;
}
p{
    font-family: 'Rubik';
    font-size: 20px;
}
.listMenu{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    flex-grow: 1;
    .listMenuItem{
     display: flex;
     align-items: center;
     padding: 10px 15px;
     border-radius: 5px;
     width: 100%;
     color: $darkmagenta;
     margin-bottom: 5px;
     background-color: $lightmagenta;
     &:hover{
        background: $light;
     }

     &.isActive {
        background-color: $magenta;
        color: $light;
     }
    }
}
.button{
    font-size: 25px;
    font-weight: bold;
}

.editButton{
    height: 50px;
    width: 100px;
    position: absolute;
    bottom: 30px; 
    color: $darkmagenta;
    right: 160px;
    background-color: $lightmagenta;
box-shadow: -14px -3px 30px -12px $magenta;
}
.editButton{
    height: 50px;
    width: 100px;
    position: absolute;
    bottom: 30px; 
    color: $darkmagenta;
    right: 160px;
    background-color: $lightmagenta;
box-shadow: -14px -3px 30px -12px $magenta;
}
.deleteButton{
    height: 50px;
    width: 100px;
    position: absolute;
    bottom: 30px; 
    color: $darkmagenta;
    right: 40px;
    background-color: $lightmagenta;
    box-shadow: -14px -3px 30px -12px $magenta;
}

.deleteButton{
    height: 50px;
    width: 100px;
    position: absolute;
    bottom: 30px; 
    color: $darkmagenta;
    right: 40px;
    background-color: $lightmagenta;
    box-shadow: -14px -3px 30px -12px $magenta;
}
.calendarTitle{
    font-size: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.arrowCont{
    width:fit-content;
}
.arrTitleCont{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.titleCont{
    text-align: center;
    width:fit-content;
    margin-left: 20px;
    margin-right:20px;
    height: 80px;
}

.noteManager{
    display: flex;
    width: 100%;
    height: fit-content;
    max-width: 1200px;
}
.noteMain{
    width: 100%;
    background-color: $magenta;
    padding-top:20px;
    padding-bottom:60px;
}
.noteCollection{
    width: 340px;
    height: 340px;
    background-color: $light;
    float: left;
    margin-left: 22px;
    margin-right:22px;
}
.notesList{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: fit-content;
    border: 20px solid $primary;
    position: relative;
    box-shadow: 0 0 10px $darkmagenta;
}
.collectionTitle{
    margin-top:20px;
    width: 100%;
    text-align: center;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logout{
    width: 100px;
    text-align:center;
    color: $magenta;
    font-family: 'Rubik';
    font-weight: bold;
    position: absolute;
    bottom: 13px;
    right:560px;
}
.collTitleCont{
    height: 50px;
    width: 200px;
    font-size:30px;
    color: $magenta;
    font-family: 'Rubik';
    background-color: $lightmagenta;
    box-shadow: 0 0 10px $darkmagenta;
}
.calendar{
    margin-top:50px;
    height: 80%;
}
.calendarRow{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calendarSquare{
    height: 90px;
    width: 100px;
    margin-left:8px;
    margin-right: 8px;
    background-color: white;
    font-size:40px;
    font-weight: bold;
    color: $darkmagenta;
    text-align: center;
    border: none;
}
.mainCont{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        max-width: 1300px;
        max-height: 1000px;
        overflow-y: scroll;
}
.calendarSquareNotActive{
    height: 90px;
    width: 100px;
    margin-left:8px;
    margin-right: 8px;
    background-color: $magenta;
}
.panel{
    margin-top:20px;

}
.panelCollections{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    max-width: 1300px;
}