
<div class="fullBox"><div class="center">
    <div class="flexBox">
        <div class="loginText">LOGIN</div>
    <div class="loginBox">
        <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input class="input" type="email" placeholder="Email">
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="password" placeholder="Password">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
          <div class="text">
            <div class="textFlexBox">
            <p class="control">
              <button class="button is-primary loginButton">
                Login
              </button>
            </p>
          </div><div class="textFlexBox">
          <a><p class="has-text-primary">create account</p></a></div>
          </div>
    </div>
    </div>
    </div>
</div>
