<div class="center">
    <div class="appBox">
      <div class="logoCont">
        <a routerLink="/"><img class="logo" src="assets/logo.png" alt="logo" /></a></div>
    <div class="buttonClass">
    <button class="button is-primary appButton" routerLink="/lists">TASKS</button>
    <button class="button is-primary appButton" routerLink="/calendar">CALENDAR</button>
    <button class="button is-primary appButton isActive"></button>
    </div>
    <div class="panel has-background-light">
    <div class="noteManager">
        <div class="sidebar has-background-light">
           <div class="titleBox"><h1 class="title has-text-primary">
               Notes
           </h1></div>
           <div class="listMenu">
               <a class="listMenuItem isActive">
                 <p>Note</p>
               </a>
               <a class="listMenuItem">
                   <p>Note</p>
                 </a>
                 <a class="listMenuItem">
                   <p>Note</p>
                 </a>
                 <a class="listMenuItem">
                   <p>Note</p>
                 </a>
             </div>
             <button class="button is-primary">+</button>
        </div>
        <div class="notesList has-background-light">
          <div class="noteTitle">
          <h1 class="title has-text-primary">
               A title
           </h1>
           </div>
           <button class="editButton button is-primary">Edit</button>
           <button class="deleteButton button is-primary">Delete</button>
        </div>
      </div>
   </div>
  </div>  
  <a routerLink="/login"><div class="logout"><p>LOG OUT</p></div></a>
  </div>