@import '../../../main-styles.scss';


.noteTitle{
    padding: 20px;
    border-bottom: 20px solid $primary;
}
.noteManager{
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    max-height: 680px;
}

.notesList{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: 680px;
    border: 20px solid $primary;
    position: relative;
    box-shadow: 0 0 10px $darkmagenta;
}


.title{
    text-transform: uppercase;
    font-family: 'Rubik';
    font-size: 30px;
    letter-spacing: 4px;
}

p{
    font-family: 'Rubik';
    font-size: 20px;
}
.listMenu{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    flex-grow: 1;
    .listMenuItem{
     display: flex;
     align-items: center;
     padding: 10px 15px;
     border-radius: 5px;
     width: 100%;
     color: $darkmagenta;
     margin-bottom: 5px;
     &:hover{
        background: $light;
     }

     &.isActive {
        background-color: $magenta;
        color: $light;
     }
    }
}
.button{
    font-size: 25px;
    font-weight: bold;
}

.editButton{
    height: 50px;
    width: 100px;
    position: absolute;
    bottom: 30px; 
    color: $darkmagenta;
    right: 160px;
    background-color: $lightmagenta;
box-shadow: -14px -3px 30px -12px $magenta;
}
.deleteButton{
    height: 50px;
    width: 100px;
    position: absolute;
    bottom: 30px; 
    color: $darkmagenta;
    right: 40px;
    background-color: $lightmagenta;
    box-shadow: -14px -3px 30px -12px $magenta;
}

