<div class="center">
  <div class="appBox">
    <div class="logoCont">
      <img class="logo" src="assets/logo.png" alt="logo"/></div>
    <div class="buttonClass">
    <button class="button is-primary appButton isActive"></button>
    <button class="button is-primary appButton" routerLink="/calendar">CALENDAR</button>
    <button class="button is-primary appButton" routerLink="/notes">NOTES</button>
    </div>
    <div class="panel has-background-light">
   <div class="taskManager">
     <div class="sidebar has-background-light">
      <div class="titleBox"><h1 class="title has-text-primary">
        LISTS
    </h1></div>
        <div class="listMenu">
          <a class="listMenuItem" *ngFor="let list of lists" [routerLink]="['/lists', list._id]" routerLinkActive="isActive">
            <p>{{list.title}}</p>
          </a>
          </div>
          <button class="button is-primary" routerLink="/new-list">+</button>
     </div>
     <div class="tasksList has-background-light">
      <div class="taskTitle">
        <h1 class="title has-text-primary">
          TASKS
         </h1>
         </div>

      <div class="task" *ngFor="let task of tasks" (click)="onTaskClick(task)" [ngClass]="{ 'completed': task.completed}">
          <p>{{task.title}}</p>
      </div>
      <button class="addButton button is-primary" routerLink="./new-task">+</button>
     </div>
     
   </div>
</div>
</div>
</div>
