<div class="center has-background-darkmagenta">
   <div class="taskManager">
     <div class="sidebar has-background-white">
        <h1 class="title has-text-primary">
            Lists
        </h1>
        <div class="listMenu">
            <a class="listMenuItem isActive">
              <p>List</p>
            </a>
            <a class="listMenuItem">
                <p>List</p>
              </a>
              <a class="listMenuItem">
                <p>List</p>
              </a>
              <a class="listMenuItem">
                <p>List</p>
              </a>
          </div>
          <button class="button is-primary" (click)="createNewList()">+</button>
     </div>
     <div class="tasksList has-background-light">
        <h1 class="title has-text-primary">
            Tasks
        </h1>

        <div class="task">
            <p>A task</p>
        </div>
        <div class="task">
            <p>A task</p>
        </div>
        <div class="task">
            <p>A task</p>
        </div>
        <div class="task complete">
            <p>A task</p>
        </div>
     </div>
   </div>
</div>
